body {
  padding-top: 50px;
}

.mainImage {
  height: 300px;
}

a.thumbnail {
  display: block;
  padding-top: 75%;
  position: relative;
  outline: 1px solid white;
}

a.thumbnail>img {
  max-height: 95%;
  max-width: 95%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

a.selected {
  outline: 1px solid;
}

a.selected>img {
  opacity: 0.5;
}

a.focus {
  outline: none;
}

a h2.glyphicon {
  margin: .5em 1em 1em;
}

h3 span.glyphicon {
  font-size: 0.5em;
  vertical-align: 3px;
  margin-left: 10px;
}

.settings-row{
  height: 3.5em;
  align-items: center;
  display: flex;
}
.vertical-offset{
  top:25px;
}
.gallery-button{
  width: 100%;
}
label{
  font-size: 1.25em;
}
#sampleText{
  margin-bottom: 0.75em;
}